In [112]:
import pandas as pd
import numpy as np

In [113]:
df = pd.read_csv("iris1.data")          # read from CSV file "iris1.data" into a Dataframe variable "df"

In [114]:
df.columns          # Print the names and datatypes of columns in the Dataframe "df"

Index([u'sepalLength', u'sepalWidth', u'petalLength', u'petalWidth',
       u'Spicies'],
      dtype='object')

In [115]:
len(df)          # Check length of the DataFrame "df"

150

In [116]:
df.dtypes          # List the DataTypes of the column-names in the DataFrame "df"

sepalLength    float64
sepalWidth     float64
petalLength    float64
petalWidth     float64
Spicies         object
dtype: object

In [117]:
df.describe()          # Describe the data in the DataFrame "df"

       sepalLength  sepalWidth  petalLength  petalWidth
count   150.000000  150.000000   150.000000  150.000000
mean      5.843333    3.054000     3.758667    1.198667
std       0.828066    0.433594     1.764420    0.763161
min       4.300000    2.000000     1.000000    0.100000
25%       5.100000    2.800000     1.600000    0.300000
50%       5.800000    3.000000     4.350000    1.300000
75%       6.400000    3.300000     5.100000    1.800000
max       7.900000    4.400000     6.900000    2.500000

In [139]:
# Convert unique "Species" values in the DataFrame "df" into a list and assign to a variable "labelset"
labelset = set(df['Spicies'].values.tolist())
labelset = list(labelset)
labelset

['Iris-virginica', 'Iris-setosa', 'Iris-versicolor']

In [140]:
# Create a test data DataFrame "test_data_pd" and assign values from 0th, 50th and 100th row of the DataFrame "df"
test_data_pd = df.loc[[0,50,100]]
print(test_data_pd)
test_data_pd = test_data_pd.drop("Spicies", axis=1)


# Print the values of the "test_data_pd" DataFrame
print(test_data_pd.columns.values.tolist())
print(len(test_data_pd))

     sepalLength  sepalWidth  petalLength  petalWidth          Spicies
0            5.1         3.5          1.4         0.2      Iris-setosa
50           7.0         3.2          4.7         1.4  Iris-versicolor
100          6.3         3.3          6.0         2.5   Iris-virginica
['sepalLength', 'sepalWidth', 'petalLength', 'petalWidth']
3

In [141]:
# Create a test data DataFrame "training_data_pd" and assign values from DataFrame "df"
training_data_pd = df


# Drop the rows 0, 50 and 100 from the DataFrame "training_data_pd" as these are now stored in the DataFrame "test_data_pd"
training_data_pd = training_data_pd.drop(training_data_pd.index[[0, 50, 100]]) 


# Assign values of column "Species" in the new DataFrama "training_data_pd" into a variable "labels"
labels = training_data_pd['Spicies'].values
print("Length of np array labels is --> ", len(labels))
# print(labels)


# Drop the column "Species" from the DataFrame "training_data_pd"
training_data_pd = training_data_pd.drop("Spicies", axis=1)


# Print the values of the "training_data_pd" DataFrame
print("Length of DataFrame training_data_pd is --> ", len(training_data_pd))
print(training_data_pd.columns.values.tolist())

('Length of np array labels is --> ', 147)
('Length of DataFrame training_data_pd is --> ', 147)
['sepalLength', 'sepalWidth', 'petalLength', 'petalWidth']

In [142]:
# Store the data in the DataFrame "training_data_pd" into a numpy array "training_data_np"
training_data_np = training_data_pd.values


# Store the data in the DataFrame "test_data_pd" into a numpy array "test_data_np"
test_data_np = test_data_pd.values


# Print the values of the numpy arrays "training_data_np" and "test_data_np"
print(len(training_data_np))
print(len(test_data_np))

147
3

In [137]:
from sklearn import tree
clf = tree.DecisionTreeClassifier()
clf = clf.fit(training_data_np, labels)